.icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("~assets/images/icon-smile-love.png") no-repeat;
  background-size: cover;
}

button {
  color: #ffffff;
}

//  "postcss": "^8.4.6",
