h1 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
