@charset 'urf-8';

$colors: (
  --black: #0d0915,
  --gray-light: #e7e8f0,
  --gray: #b7b6c8,
  --gray-dark: #4c4c4c,
  --purple: #9370c2,
  --purple-dark: #3c3351,
  --blue: #3118ce,
  --red: #d7213b,

  // Custom
  --swiper-pagination-color: #4c4c4c,
);

//  #E7E8F0 #B7B6C8 #0D0915 #3C3351 #D7213B #3118CE #9370C2
