.section {

  .section-inner {
    margin: 0 auto;
    max-width: $layout-max;
    padding: 40px 0;
  }

  &:not(.full) {

    .section-inner {
      padding: 40px 5%;
    }
  }

  & + .section {
    margin-top: 80px;
  }
}
