.section {

  .section-inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $layout-max;
    overflow: hidden;
    padding: 40px 0;
    width: 100%;
  }

  & + .section {
    margin-top: 80px;
  }
}

.section:not(.full) {

  .section-inner {
    padding: 40px 5%;
  }
}
