@charset "UTF-8";
@import "base/reset";
@import "utils/variables", "utils/mixins";

:root {
  @each $name, $color in $colors {
    #{$name}: #{$color};
  }
}

body {
  background: #fefefe;
  color: var(--black);
  font-family: "Noto Sans KR", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;

  @include scrollbar;
}

.hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
