.container-main {

  .section {

    .section-inner {
      padding: 40px 5%;

      & + .section-inner {
        margin-top: 80px;
      }
    }
  }

  .section-visual {
    background: var(--purple-dark);
    height: 480px;

    .section-inner {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    .contents {
      color: var(--gray-light);

      .visual-title {
        font-size: 32px;
        margin: 0 0 14px;
      }
    }
  }

  .section-guests {

    .contents {
      background: var(--gray-light);
      height: 300px;
    }
  }

  .section-popular {

    .contents {
      background: var(--gray-light);
      height: 300px;
    }
  }

  .section-new {

    .contents {
      background: var(--gray-light);
      height: 300px;
    }
  }
}
