@mixin scrollbar() {

  &:hover::-webkit-scrollbar {
    display: initial;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgb(147 112 194 / 50%);
    border: 1px solid rgb(147 112 194 / 50%);
    border-radius: 12px;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }
}
