$setting-icon-size: 12px;

header {
  background: #ffffff;
  border-bottom: 1px solid var(--gray-light);
  width: 100%;

  .header-inner {
    align-items: center;
    display: flex;
    height: 64px;
    padding: 0 5%;
  }

  .header-logo {
    color: var(--black);
    text-decoration: none;

    .logo {
      display: inline-block;
      font-size: 18px;
      margin: 0;
    }
  }

  .header-nav {
    display: flex;
    margin-left: 40px;

    .nav-items {

      a {
        color: var(--black);
      }

      & + .nav-items {
        margin-left: 34px;
      }
    }
  }

  .header-my {
    margin-left: auto;

    .login-button {
      background: none;
      border: none;
      color: var(--gray);
      height: 100%;
      width: 100%;

      &:hover {
        color: var(--black);
      }
    }

    .my-setting {
      align-items: center;
      background: rgb(0 0 0 / 8%);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      height: 30px;
      justify-content: center;
      position: relative;
      width: 30px;

      .setting {
        display: none;
        padding-top: 5px;
        position: absolute;
        right: 0;
        top: 100%;

        .setting-navs {
          background: #ffffff;
          border-radius: 10px;
          box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
          padding: 16px 12px;
          width: 100px;

          li {

            a {
              color: var(--gray);
              display: inline-block;
              padding: 12px 0;
              width: 100%;
            }

            & + li {
              border-top: 1px solid var(--gray-light);
            }
          }
        }
      }

      .my-setting-icon {
        display: inline-block;
        height: $setting-icon-size;
        width: $setting-icon-size;

        @include bg-image("icon-user-light", $setting-icon-size, $setting-icon-size);
      }

      &:hover {
        background: #ffffff;

        .setting {
          display: block;
        }

        .my-setting-icon {
          @include bg-image("icon-user-dark", $setting-icon-size, $setting-icon-size);
        }
      }
    }
  }

  &.sticky {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 10%);

    .header-logo {
      color: var(--black);
    }

    .header-nav {

      .nav-items {

        a {
          color: var(--black);
        }
      }
    }

    .my-setting {
      $setting-icon-size: 12px;

      background: #ffffff;
      border: 1px solid var(--gray);

      .setting {

        .setting-navs {

          li a {
            color: var(--black);
          }
        }
      }

      .my-setting-icon {
        @include bg-image("icon-user-dark", $setting-icon-size, $setting-icon-size);
      }
    }
  }
}

.header-index {
  background: var(--purple-dark);
  border-bottom: 1px solid var(--purple-dark);

  .header-logo {
    color: var(--gray-light);
  }

  .header-nav {
    display: flex;
    margin-left: 40px;

    .nav-items {

      a {
        color: var(--gray-light);

        &:hover {
          color: var(--gray);
        }
      }

      & + .nav-items {
        margin-left: 34px;
      }
    }
  }

  .header-my {
    margin-left: auto;

    .login-button {
      color: var(--gray);

      &:hover {
        color: var(--gray);
      }
    }
  }
}
